body {
    background-image: url(dreamhouse.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.gameZone {
    width: 60%;
    margin-left: 50px;
    margin-top: 50px;
    color: white;
    font-size: 40px;
}
button {
    color: palevioletred;
    border: 3px solid blue;
    font-size: 20px;
}

img {
    width: 100%;
    height: 200px;
}

h1{
    text-align: center;
    color: darkmagenta;
}
p {
    margin: 0;
}

img {
    width: 150px;
    height: 200px;
}



.firstImage {
    margin-top: 15px;
    margin-right: 6px;
    position: relative;
    display: inline-block;
    border: 4px solid purple;
}

.firstImage .text {
margin-bottom: 0;
margin-top: 0;
position: absolute;
width: 100%;
font-size: 25px;
text-align: center;
background-color: #4aaaa5;
font-family: Georgia, 'Times New Roman', Times, serif;
color: white;
top: 70%;
}

.points {
    background-color: white;
    text-align: center;
    margin: 0;
    border-top: 4px solid purple;
    color: black;
}